*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.cover{
  background: #7ec8e3 url(../img/nigeria.jpg) center no-repeat;
  background-size: cover;
  min-height: 47rem;
  height: auto;
  border-radius: 0;
  width: 100%;
  position: relative;

}

.cover-overlay{
  background: rgba(10, 60, 94, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nav-bg{
  background-color: #021f2c;
}

.navbar-dark .navbar-nav .nav-link {
  color: ghostwhite;
}

.content {
  margin-top: 5rem;

}

.content .heading h1{
  color: #fff;
  font-weight: bolder;
  letter-spacing: -1px;
  line-height: 150%;

}

.content .heading h4{
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  line-height: 140%;
  width: 70%;
  margin: auto;

}

.auth .card{
  width: 25rem;
  overflow: hidden;
}

.auth .card-form {
  opacity: 0.9;
  float: none;
  margin: 0 auto;
}

.auth .card-form input{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),
  0 0 0 1px rgba(0,0,0,0.08);
}

.category .cat-item{
  color: #fff;
  padding: 10px;
  font-size: 19px;
  background: rgba(17, 29, 34, 0.8);
  border-radius: 10px;
}
.category .cat-item :hover{
  color: #fff;
  padding: 10px;
  font-size: 19px;
}

.category a{
  text-decoration: none;
}